{% extends 'base.html' %}


{% block content %}
<h1>Altas</h1>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>DNI</th>
            <th>CBU</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{titular.name}}</td>
            <td>{{titular.dni}}</td>
            <th>{{titular.cbu}}</th>

        </tr>
    </tbody>
</table>
<form method="POST">
    <h2>{{error}}</h2>
    {% csrf_token %}
    {{form.as_p}}
    <button>Update</button>
</form>
<form action="{% url 'client_baja' titular.titular_id %}" method="POST">
    {% csrf_token %}
    <button>
        BAJA
    </button>
</form>
{% endblock %}