{% extends 'base.html' %}
{% load static %}
{% block content %}
{{error}}

<link rel="stylesheet" href="{% static 'css/create_client.css' %}">

<div class="principal">
    {% if new_client %}
    <div class="container formulario" style="display: none">
    {% else %}
    <!--ALTA DE TITULAR-->
    <h1>Alta de Titular</h1>
    <div class="container" style="display:block">
        <form action="/client/create/" method="POST">
            {% csrf_token %}
            <label for="id_cbu">Cbu:</label>
            <span class="helptext">Ingrese el CBU de 22 dígitos.</span>
            <input type="text" name="cbu" maxlength="22" required="" id="id_cbu", value="{{ cbu }}">
                        
            <label for="id_name">Nombre y Apellido:</label>
            <input type="text" name="name" maxlength="100" required="" id="id_name">
            
            <label for="id_phone">Telefono:</label>
            <input type="text" name="phone" maxlength="100" id="id_phone">
            
            <label for="id_address">Domicilio:</label>
            <input type="text" name="address" maxlength="100" required="" id="id_address">
            
            <label for="id_address_detail">Entre Calles:</label>
            <input type="text" name="address_detail" maxlength="100" id="id_address_detail">
            
            <label for="id_dni">Dni:</label>
            <input type="text" name="dni" maxlength="100" required="" id="id_dni">
            
            <label for="id_is_active">Estado Activo:</label>
            <input type="checkbox" name="is_active" id="id_is_active" checked="">
            <button>Crear</button>
        </form>
    </div>
    {% endif %}
    </div>
    <!--TABLA CLIENTE-->
    {% if new_client %}
    <h1>Titular</h1>
    <div class="container" >
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre y Apellido</th>
                    <th scope="col">DNI</th>
                    <th scope="col">CBU</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{new_client.titular_id}}</th>
                    <td>{{new_client.name}}</td>
                    <td>{{new_client.dni}}</td>
                    <td>{{new_client.cbu}}</td>
                    <td>
                        {% if new_client.is_active == True %}
                        Activo
                        {% else %}
                        Baja
                        {% endif %}
                    </td>
                    <td style="display: flex;"><form action="{% url 'update_titular' new_client.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" style="
                        background:rgb(34, 178, 176);
                        border:none;
                        color:blue;
                        text-decoration:underline;
                        cursor:pointer;
                        width: 100px;">
                            Editar
                        </button>
                    </form>
                    <form action="{% url 'client_baja' new_client.pk %}" method="POST" style="background-color: aquamarine;width: 100px;;">
                        {% csrf_token %}
                        <button type="submit" style="
                        background:firebrick;
                        border:none;
                        color:blue;
                        text-decoration:underline;
                        cursor:pointer;
                        width: 100px;" onclick="return confirmDelete()">
                            Baja
                        </button>
                    </form>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>

{% endif %}

{% if tupla_adherentes %}
<div class="0" style="text-align: center; margin-top: 20px;">
    <H2>Adherentes agregados</H2>
</div>

<div class="container" >
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre y Apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for adherente in tupla_adherentes %}
            <tr>
                <td>{{adherente.adherente_id}}</td>
                <td>{{adherente.name}}</td>
                <td>{{adherente.dni}}</td>
                <td>
                    {% if adherente.is_active == True %}
                    Activo
                    {% else %}
                    Baja
                    {% endif %}
                </td>
                <td style="display: flex;"><form action="{% url 'update_adherente' adherente.adherente_id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" style="
                    background:rgb(34, 178, 176);
                    border:none;
                    color:blue;
                    text-decoration:underline;
                    cursor:pointer;
                    width: 100px;">
                        Editar
                    </button>
                </form>
                <form action="{% url 'baja_adherente' adherente.adherente_id %}" method="POST" style="background-color: aquamarine;width: 100px;;">
                    {% csrf_token %}
                    <button type="submit" style="
                    background:firebrick;
                    border:none;
                    color:blue;
                    text-decoration:underline;
                    cursor:pointer;
                    width: 100px;" onclick="return confirmDeleteAd()">
                        Baja
                    </button>
                </form>
                    
            {% endfor %}
        </tbody>
    </table>
</div>
<button id="new-adherente-btn">Nuevo ingreso Adherentes</button>
<div class="container" id="adherente-form" style="display: none;">

{% else %}
    {% if new_client %}
        <!--FORMULARIO ADHERENTES-->
        <div class="container" id="adherente-form" style="display: inline;">
    {% else %}
        <div class="container" id="adherente-form" style="display: none">

    {% endif %}
{% endif %}
        <h1>ADHERENTES</h1>
        <form action="/client/adherente/create/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="titular_id" value="{{ new_client.titular_id }}">
                <label for="id_name">Nombre y Apellido:</label>
                <input type="text" name="name" maxlength="100" required="" id="id_name">
                <label for="id_address">Direccion</label>
                <input type="text" name="address" maxlength="100" required="" id="id_address">
    
                <label for="id_address_detail">Entre calles:</label>
                <input type="text" name="address_detail" maxlength="100" id="id_address_detail">
    
                <label for="id_dni">Dni:</label>
                <input type="text" name="dni" maxlength="100" required="" id="id_dni">
    
                <label for="id_is_active">Is active:</label>
                <input type="checkbox" name="is_active" id="id_is_active" checked="">
    
                <button>Alta Adherente</button>
            </form>
    
    </div>

<script>
        document.getElementById('new-adherente-btn').addEventListener('click', function() {
        var form = document.getElementById('adherente-form');
        form.style.display = 'block';
        form.scrollIntoView({ behavior: 'smooth' });
    });



        function confirmDelete() {
            return confirm('¿Está seguro que desea eliminar a este titular, con esto dara de baja a todos sus adherentes?');
        }

        function confirmDeleteAd() {
            return confirm('¿Está seguro que desea eliminar a este Adherente?');
        }

</script>


{% endblock %}