{% extends 'base.html' %}
{% load static %}
{% block content %}
{{error}}
<link rel="stylesheet" href="{% static 'css/create_client.css' %}">
<h1 style="text-align: center; margin-bottom: 50px;">Generar Informe</h1>
<div class="container" >
  <div class="accordion" id="accordionExample">

    <!--primer item de informe mis movimientos-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Mis Movimientos
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong >Informe para exportar todas los movimientos que tiene mi usuario.</strong>
          <form method="post" action="{% url 'my_log' %}" style="margin-top: 20px;">
            {% csrf_token %}
            <div class="row" style="text-align: center;">
              <div class="col-md-6">
                  <label for="id_birthdate">Inicio:</label>
                  <input type="date" name="init_date" required id="id_init_date">
              </div>
              <div class="col-md-6">
                <label for="id_birthdate">Fin:</label>
                <input type="date" name="end_date" required id="id_end_date">
              </div>
            </div>
            <button type="submit">Generar Informe</button>
          </form>
        </div>
      </div>
    </div>


    <!--primer item de informe mis ventas-->
    {% if perms.pianoadherentes.can_view_stats %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Mis ventas
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong >Informe para exportar todas las ventas activas que tiene mi usuario.</strong>
          <form method="post" action="{% url 'my_sales' %}" style="margin-top: 20px;">
            {% csrf_token %}
            <div class="row" style="text-align: center;">
              <div class="col-md-6">
                  <label for="id_birthdate">Inicio:</label>
                  <input type="date" name="init_date" required id="id_init_date">
              </div>
              <div class="col-md-6">
                <label for="id_birthdate">Fin:</label>
                <input type="date" name="end_date" required id="id_end_date">
              </div>
            </div>
            <button type="submit">Generar Informe</button>
          </form>
        </div>
      </div>
    </div>
    {% endif %}


    {% if perms.pianoadherentes.can_view_stats_controller %}
    <!--segundo movimientos por sucursal-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Ventas por sucursal
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Informe para traer todas las ventas de una sucursal en particular</strong>
          <form method="post" action="{% url 'branch_office' %}" style="margin-top: 20px;">
            {% csrf_token %}
            <label for="id_sex">Sucursal:</label>
            <select name="sucursal" id="id_sucursal" required>
              {% for sucursal in sucursales %}
                <option value="{{sucursal.descripcion}}">{{sucursal.descripcion}}</option>
              {% endfor %}
            </select>
            <div class="row" style="text-align: center;">
              <div class="col-md-6">
                  <label for="id_birthdate">Inicio:</label>
                  <input type="date" name="init_date" required id="id_init_date">
              </div>
              <div class="col-md-6">
                <label for="id_birthdate">Fin:</label>
                <input type="date" name="end_date" required id="id_end_date">
              </div>
            </div>
            <button type="submit">Generar Informe</button>
          </form>


        </div>
      </div>
    </div>
    {% endif %}

    {% if perms.pianoadherentes.can_view_stats_log %}
    <!--tercer log por usuario-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
          Log por usuario
        </button>
      </h2>
      <div id="collapseFor" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Informe de log con cada movimiento por usuario.</strong> 
          <form method="post" action="{% url 'user_log' %}" style="margin-top: 20px;">
            {% csrf_token %}
            <label for="id_user">Usuario:</label>
            <select name="usuario" id="id_usuario" required>
              {% for usuario in usuarios %}
                {% if usuario.username == 'admin' %}
                {% else %}
                <option value="{{usuario.id}}">{{usuario.username}}</option>
                {% endif %}
              {% endfor %}
            </select>
            <div class="row" style="text-align: center;">
              <div class="col-md-6">
                  <label for="id_birthdate">Inicio:</label>
                  <input type="date" name="init_date" required id="id_init_date">
              </div>
              <div class="col-md-6">
                <label for="id_birthdate">Fin:</label>
                <input type="date" name="end_date" required id="id_end_date">
              </div>
            </div>
            <button type="submit">Generar Informe</button>
          </form>



        </div>
      </div>
    </div>
    {% endif %}

    {% if perms.pianoadherentes.can_view_stats_log %}
    <!--tercer log general-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Log General
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Informe de log con cada movimiento de todos los usuarios.</strong> 
          <form method="post" action="{% url 'user_log' %}" style="margin-top: 20px;">
            {% csrf_token %}
                        
            <div class="row" style="text-align: center;">
              <div class="col-md-6">
                  <label for="id_birthdate">Inicio:</label>
                  <input type="date" name="init_date" required id="id_init_date">
              </div>
              <div class="col-md-6">
                <label for="id_birthdate">Fin:</label>
                <input type="date" name="end_date" required id="id_end_date">
              </div>
            </div>
            <button type="submit">Generar Informe</button>
          </form>



        </div>
      </div>
    </div>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}