<!--ALTA DE TITULAR-->
<h1>Alta de contratos</h1>
<div class="container" style="display:block">
    <form action="/client/contract/create/" method="POST">
        <input type="hidden" name="prestamo_id" value="{{ new_client.document }}">
        {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="date_init">Fecha desde:</label>
                    <input type="date" name="date_init" required id="date_init">
                </div>
                <div class="col-md-4">
                    <label for="id_date_end">Fecha hasta:</label>
                    <input type="date" name="date_end" required id="date_end">
                </div>
                <div class="col-md-4">
                    <label for="id_price">Importe:</label>
                    <input type="text" name="price" maxlength="10" required id="id_price" class="number_adress">
                </div>
            </div>


        <button>Crear</button>
    </form>
</div>