{% extends 'base.html' %}


{% block content %}
<h1>home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ratione ut corrupti nulla iusto id, qui repudiandae ducimus unde, perspiciatis, excepturi deleniti officiis illum assumenda sint modi eaque natus vero fuga in neque est recusandae inventore? Alias, quae voluptates. Similique aperiam asperiores consequuntur impedit officiis, quisquam suscipit labore maiores deleniti quasi, voluptas, omnis veniam natus modi hic ipsa voluptatum! Deleniti reprehenderit quos voluptatibus maxime iste saepe nobis enim exercitationem neque voluptatum quam numquam, blanditiis veniam dolorem. Ducimus harum velit quidem dicta quae animi, fugiat earum, blanditiis perferendis provident cupiditate dolor sint excepturi ad est ipsum hic iure quisquam vel veritatis?</p>
{% endblock %}