{% extends 'base.html' %}
{% load static %}
{% block content %}
{{error}}

<link rel="stylesheet" href="{% static 'css/create_client.css' %}">


<div class="principal">
    <!--CONSULTA CBU-->
    <h1>Buscar</h1>
    <div class="container" style="display:block">
        <form action="" method="POST">
            {% csrf_token %}
            <label for="id_cbu">Cbu:</label>
            <span class="helptext">Ingrese el CBU de 22 dígitos.</span>
            <input type="text" name="cbu" maxlength="22" id="id_cbu", value="{{ cbu }}">
                        
            <label for="id_name">Nombre y Apellido:</label>
            <input type="text" name="name" maxlength="100"  id="id_name">
            
            <label for="id_phone">Telefono:</label>
            <input type="text" name="phone" maxlength="100" id="id_phone">
            
            <label for="id_address">Domicilio:</label>
            <input type="text" name="address" maxlength="100"  id="id_address">
            
            <label for="id_address_detail">Entre Calles:</label>
            <input type="text" name="address_detail" maxlength="100" id="id_address_detail">
            
            <label for="id_dni">Dni:</label>
            <input type="text" name="dni" maxlength="100" id="id_dni">
            
            <label for="id_is_active">Estado Activo:</label>
            <input type="checkbox" name="is_active" id="id_is_active" checked="">
            <button>Buscar</button>
        </form>
    </div>
</div>

{% endblock %}