{% extends 'base.html' %}
{% load static %}
{% block content %}
{{error}}

<link rel="stylesheet" href="{% static 'css/create_client.css' %}">

    <!--FORMULARIO ADHERENTES-->
    <div class="container" style="display: inline;">
        <h1>ADHERENTES</h1>
        <form action="/client/adherente/create/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="titular_id" value="{{ new_client.titular_id }}">
                <label for="id_name">Nombre y Apellido:</label>
                <input type="text" name="name" maxlength="100" required="" id="id_name">
                <label for="id_address">Direccion</label>
                <input type="text" name="address" maxlength="100" required="" id="id_address">
    
                <label for="id_address_detail">Entre calles:</label>
                <input type="text" name="address_detail" maxlength="100" id="id_address_detail">
    
                <label for="id_dni">Dni:</label>
                <input type="text" name="dni" maxlength="100" required="" id="id_dni">
    
                <label for="id_is_active">Is active:</label>
                <input type="checkbox" name="is_active" id="id_is_active" checked="">
    
                <button>Alta Adherente</button>
            </form>
    
    </div>
{% endif %}


{% endblock %}