{% load static %}
<div class="0" style="text-align: center; margin-top: 20px;">


    <div class="row" style="align-items: center;">
        <div class="col-md-7" style="text-align: end;">
            <H2>Contratos agregados</H2>
        </div>
        <div class="col-md-1">
            <form action="{% url 'create_contract' %}" method="GET">
                
                <button style="width: 45px;">
                {% csrf_token %}
                <input type="hidden" name="titular_id" value="{{ new_client.prestamos_id }}">
                <img  id="new" src="{% static '/img/new_icon.png' %}" alt="img" style="height: 30px;">
                </button>
            </form>
        </div>
    </div>

    
    

</div>

<div class="container" >
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha de fin</th>
                <th scope="col">link</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for contrato in tupla_contratos %}
            <tr>
                <td>{{ contrato.date_init|date:"d/m/Y" }}</td>
                <td>{{ contrato.date_end|date:"d/m/Y" }}</td>
                {% if contrato.link_firma  == None %}
                <td>Terminos Firmados</td>
                {% else %}
                <td>http://127.0.0.1:8000/terminos/ver/{{ contrato.link_firma }}</td>
                {% endif %}
                <td>{{ contrato.price }}</td>
                <td>
                    {% if contrato.is_active == True %}
                    Activo
                    {% else %}
                    Pendiente de
                    {% endif %}
                </td>
            
                {% if contrato.is_active == False %}

                <td>
                <form action="{% url 'refresh_contract' %}" method="GET">
                    <input type="hidden" name="titular_id" value="{{ new_client.prestamos_id }}">
                    <button type="submit" class="editar" style="background:#007bff; border:none; color:rgb(123, 255, 0); cursor:pointer; width: 50px;">
                        <img id="edit" src="{% static '/img/update_icon.png' %}" alt="img">
                    </button>
                </form>
                </td>
                {% endif %}


                <!--
                {% if adherente.is_active == True %}
                <form action="{% url 'baja_adherente' adherente.adherente_id %}" method="POST" >
                    {% csrf_token %}
                    <button type="submit" style="
                    background:firebrick;
                    border:none;
                    color:blue;
                    text-decoration:underline;
                    cursor:pointer;
                    width: 50px;" onclick="return confirmDeleteAd()">
                        <img  id="edit" src="{% static '/img/del_icon.png' %}" alt="img">
                    </button>
                </form>
                {% else %}
                <form action=" url 'reactiv_adherente' adherente.adherente_id " method="POST" >
                    {% csrf_token %}
                    <button type="submit" style="
                    background:green;
                    border:none;
                    color:blue;
                    text-decoration:underline;
                    cursor:pointer;
                    width: 50px;" onclick="return confirmActivateAd()">
                        <img  id="edit" src="{% static '/img/react_icon.png' %}" alt="img">
                    </button>
                </form>
                {% endif %}
                    -->
            {% endfor %}
        </tbody>
    </table>


</div>

<!--<button id="new-adherente-btn">Nuevo ingreso Adherentes</button>-->


<script>
    function openForm(titularId) {
        // Obtener el estado del checkbox
        const isActive = document.getElementById('id_is_active_print').checked;
        
        // Construir la URL con los parámetros titular_id e is_active
        const url = "{% url 'print_form' %}?titular_id=" + titularId + "&is_active=" + isActive;
        
        // Abrir en una nueva ventana
        window.open(url, '_blank');
    }
</script>